<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form action="/v1/login" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>

    <script>
        // Fungsi untuk menyimpan token JWT ke local storage
        console.log(token)
        function simpanToken(token) {
            localStorage.setItem('jwt_token', token);
        }
    
        // Fungsi untuk mengambil token JWT dari URL
        function ambilTokenDariURL() {
            const params = new URLSearchParams(window.location.search);
            return params.get('token');
        }
    
        // Mengambil token JWT dari URL
        const token = ambilTokenDariURL();
        if (token) {
            // Simpan token JWT ke local storage
            simpanToken(token);
            
            // Setelah menyimpan token, lakukan redirect ke halaman home
            window.location.href = '/home';
        } else {
            console.error('Token JWT tidak tersedia. Harap login terlebih dahulu.');
        }
    </script>
</body>
</html>